@font-face {
    font-family: myFirstFont;
    src: url('font/Open_Sans/OpenSans-Light.ttf');
  }

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-image: url('./images/bg.jpg');
    font-family: myFirstFont,'Montserrat', sans-serif;
    font-size: 0.9rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-weight: 600;
}

main {
    width: 58%;
    background-color: white;
    display: flex;
    text-align: center;
}

section,form {
    width: 50%;
    padding: 30px 55px;
}

section {
    background-color: green;
    color: white;
}

.login-form h1, a {
    color: green;
}

p {
    line-height: 1.4;
}

img {
    width: 100px;
    border-radius: 50%;
}

.login-form input[type='email'],
.login-form input[type='password'],
.login-form button[type='submit'] {
    background: none;
    display: block;
    margin: 15px auto;
    text-align: center;
    outline: none;
    color: green;
    transition: .6s;
    border-radius: 30px;
    font-size: 1.1rem;
}

.login-form input[type='email'],
.login-form input[type='password'] {
    border: 3px solid green;
    padding: 15px 10px;
}

.login-form input[type='email']:focus,
.login-form input[type='password']:focus {
    transform: scale(1.2);
    border-color: white;
}

.login-form button[type='submit'] {
    border: 5px solid green;
    padding: 15px 40px;
    cursor: pointer;
}

.login-form button[type='submit']:hover {
    background: green;
    color: white;
    transform: translateY(20px) scale(1.1);
}

/* MOBILE RESPONSIVE DESIGNS */

@media (max-width: 65em) {
    body {
        
        overflow: scroll;
    }
    main {
        width: 70%;
        flex-direction: column;
    } 
    section,form {
        width: 100%;
        padding: 10px 10px;
    }
    .login-form input[type='email'],
    .login-form input[type='password'] {
        padding: 10px 10px;
    }
}

@media (max-width: 20em) {
    body {
        height: auto;
    }
    main {
        width: 85%;
    }
    .login-form input[type='email'],
    .login-form input[type='password'] {
        border: 3px solid green;
        padding: 15px 0px;
    }
}