*,*::before,*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courgette', cursive;
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("./background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: none;
    height: 100vh;
    font-size: 17px;
    overflow:hidden;
}

main {
    text-align: center;
}

.container form {
    width: 360px;
    height: 420px;
    left: 50%;
    top: 50%;
    margin-left: -180px;
    margin-top:-210px;
    background: rgb(29, 19, 19);
    border-radius: 15px;
    position: absolute;
    overflow: hidden;
}

.container .container_form {
    position:absolute;
    width: 300px;
    left: 30px;
    top: 60px;
    transition: 0.5s;
}

.container .container_form h3 {
    margin-bottom: 30px;
    color: #777;
}

.container .container_form input {
    width: 100%;
    padding: 5px 5px;
    outline: none;
    border: 0;
    font-size: 1.1rem;
    margin: 10px 0;
    border-bottom: 2px solid #777;
    background: transparent;
    caret-color: white;
    color: white;
}

.container .container_form label {
    color: #777;
}

.container_btnBox {
    width: 100%;
    margin-top: 20px;
}

.container_btnBox button {
    width: 30%;
    height: 35px;
    background: linear-gradient(to right, #ff0,#777);
    border:0;
    border-radius: 30px;
    cursor: progress;
}

#personalForm {
    left: 450px;
}

#socialForm {
    left: 450px;
}

.container_stepRow {
    width: 370px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
}

.container_stepRow-col {
    color: rgb(29, 19, 19);
    width: 33%;
    position: relative;
}

#container_stepRow-progress {
    position:absolute;
    height: 100%;
    width: 33%;
    transition: .7s;
    background: linear-gradient(to right, #ff0,#777);
}

#container_stepRow-progress::after {
    content: '';
    height: 0;
    width: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    position: absolute;
    right: -25px;
    top: 0;
    border-left: 25px solid #777;
}